# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
stages:
- security-test
- build

sast:
  stage: security-test
include:
- template: Security/SAST.gitlab-ci.yml

linux-x64:build:
  stage: build
  image: fedora:latest
  before_script:
    - dnf -y install git meson gcc gcc-c++ libisofs-devel && dnf clean all
  script:
    - meson setup builddir
    - meson compile -C builddir
  artifacts:
    paths:
      - builddir/mkdcdisc

windows-msys2:build:
  stage: build
  # https://docs.gitlab.com/ee/ci/runners/saas/windows_saas_runner.html
  tags: [ saas-windows-medium-amd64 ]
  script: # https://www.msys2.org/docs/ci/#gitlab
  - wget.exe -nv -O msys2.exe https://github.com/msys2/msys2-installer/releases/download/nightly-x86_64/msys2-base-x86_64-latest.sfx.exe
  - ./msys2.exe -y -oC:\
  - Remove-Item msys2.exe
  - $env:CHERE_INVOKING = 'yes'
  - $env:MSYSTEM = 'MSYS' # https://www.msys2.org/docs/environments/
  - C:\msys64\usr\bin\bash -lc 'pacman --noconfirm -Syuu'
  - C:\msys64\usr\bin\bash -lc 'pacman -S --noconfirm gcc autotools libtool make libiconv-devel'
  - |
    C:\msys64\usr\bin\bash -lcx '
    curl -LO https://files.libburnia-project.org/releases/libisofs-1.5.6.tar.gz && \
    tar xf libisofs-1.5.6.tar.gz && \
    cd libisofs-1.5.6 && \
    ./bootstrap && \
    ./configure --prefix=/usr --disable-static && \
    sed -i.bak -e "s/allow_undefined=yes/allow_undefined=no/" libtool && \
    (make || (sed -i.bak -e "s/allow_undefined=yes/allow_undefined=no/" libtool && make)) && \
    make install && \
    cd .. &&\
    pacman -S --noconfirm git meson && \
    meson setup builddir && \
    meson compile -C builddir && \
    mkdir windows-msys2 && \
    cp builddir/mkdcdisc.exe windows-msys2/ && \
    cp /bin/msys-2.0.dll windows-msys2/ && \
    cp /bin/msys-gcc_s-seh-1.dll windows-msys2/ && \
    cp /bin/msys-iconv-2.dll windows-msys2/ && \
    cp /bin/msys-isofs-6.dll windows-msys2/ && \
    cp /bin/msys-stdc++-6.dll windows-msys2/'
  artifacts:
    paths:
      - windows-msys2

windows-mingw64:build:
  stage: build
  # https://docs.gitlab.com/ci/runners/hosted_runners/windows/
  tags: [ saas-windows-medium-amd64 ]
  script: # https://www.msys2.org/docs/ci/#gitlab
  - wget.exe -nv -O msys2.exe https://github.com/msys2/msys2-installer/releases/download/nightly-x86_64/msys2-base-x86_64-latest.sfx.exe
  - Get-FileHash ./msys2.exe -Algorithm SHA256 | Format-List
  - ./msys2.exe -y -oC:\
  - Remove-Item msys2.exe
  - $env:CHERE_INVOKING = 'yes'
  - $env:MSYSTEM = 'MINGW64' # https://www.msys2.org/docs/environments/
  - C:\msys64\usr\bin\bash -lc ' '
  - C:\msys64\usr\bin\bash -lc 'pacman --noconfirm -Syuu'
  - C:\msys64\usr\bin\bash -lc 'pacman --noconfirm -Syuu'
  - |
    C:\msys64\usr\bin\bash -lcx '
    pacman --noconfirm -Syu git mingw-w64-x86_64-autotools mingw-w64-x86_64-gcc mingw-w64-x86_64-libtool mingw-w64-x86_64-make mingw-w64-x86_64-libiconv mingw-w64-x86_64-meson && \
    meson setup builddir && \
    meson compile -C builddir && \
    mkdir windows-mingw64 && \
    cp builddir/mkdcdisc.exe windows-mingw64/'
  artifacts:
    paths:
      - windows-mingw64
